<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.raksha.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_tran"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.raksha.myapplication.TodoAddActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.raksha.myapplication.TodoEditActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.raksha.myapplication.TodoActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"/>
        <activity android:name="com.raksha.myapplication.AccountActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.raksha.myapplication.ChartActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.raksha.myapplication.MarksEditActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.raksha.myapplication.MarksAddActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.raksha.myapplication.MarksActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.raksha.myapplication.SubjectEditActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.raksha.myapplication.SubjectAddActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.raksha.myapplication.SubjectActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.raksha.myapplication.TestEditActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.raksha.myapplication.TestAddActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.raksha.myapplication.TestsActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.raksha.myapplication.ProfileActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.raksha.myapplication.GmailAuthActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.raksha.myapplication.SignUpActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.raksha.myapplication.MainActivity2"
            android:label="@string/title_activity_main2"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.raksha.myapplication.LoginActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>